.container {
  height: 100vh;
  position: relative;
  background: white;
  padding: 3vmax;
}

.content {
  overflow: auto;
  position: relative;
}


.inputLabel {
  color: green !important;
  text-align: left !important;
  font-weight: bolder !important;
  font-size: 16px;
}

.textField {
  background-color: rgba(128, 128, 128, 0.07) !important;
  border-radius: 20px !important;
  text-align: start;
  z-index: 20;
  width: fit-content;
  min-width: 300px !important;
  padding: 0 20px;
}
