.btnEditTableAgent {
  color: var(--palette-white) !important;
  cursor: pointer;
  //border: 1px solid var(--palette-white) !important;
  //border-radius: 50px !important;
  //position: absolute !important;
  //top: 25px;
  //right: 0;
}

.tableHeaderCell {
  color: green !important;
  font-weight: bold !important;
}

.tableCell {
  color: green !important;
}
